.about-me {
  max-width: calc(100% - 140px);
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
}

.about-me__info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 66px;
  margin-bottom: 100px;
}

.about-me__name {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__job {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__description {
  max-width: 600px;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__links {
  margin-top: 99px;
}

.about-me__link {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 18px;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: opacity .3s ease;
}

.about-me__link:hover {
  cursor: pointer;
  opacity: .7;
}

.about-me__link:last-of-type {
  margin-right: 0;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 769px) {
  .about-me {
    max-width: calc(100% - 100px);
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .about-me__info-block {
    margin-bottom: 90px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
  }

  .about-me__links {
    margin-top: 87px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 550px) {
  .about-me {
    margin-top: 0;
  }

  .about-me__info-block {
    flex-direction: column-reverse;
    margin-top: 60px;
    align-items: center;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 537px) {
  .about-me {
    max-width: calc(100% - 36px);
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__links {
    margin-top: 40px;
  }
  
}